:root {
    --header-height: 55px;
    --footer-height: 90px;
    --player-action-bar-height: 4rem;

    --bet-area-gap: 2rem;
    
    --button-height: 55px;

    --playing-card-width: 120px;
    --playing-card-height: calc(var(--playing-card-width)*(182/131));

    --general-text-color: #EAF0CE;
    --background-color: #0e4d2f;
    --table-background-color: #1D7C4E;
    --table-border-color: #784A10;

    --erroneous: #fccfc5;
    --correct: #D6D0DC;
}

* {
    margin: 0;
    border: none;
    padding: 0;
    box-sizing: border-box;
}

/* Header style */
header {
    position: fixed;
    width: 100%;
    height: var(--header-height);

    display: none;
}

header > * {
    float: right;
    line-height: var(--header-height);
}

/* Footer style */
footer {
    position: fixed;
    width: 100%;
    height: var(--footer-height);
    bottom: 0;

    display: none;
}

/* Main game */

main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}

#game-wrapper { 
    width: 1200px;
    height: 1200px;
    max-height: 100vh;
}

#table {
    background-color: var(--table-background-color);
    height: calc(100% - var(--player-action-bar-height));
    border: 0.5rem solid var(--table-border-color);
    border-radius: 3rem;
    box-shadow: inset 0 0 0.5rem var(--table-border-color);
    color: var(--general-text-color);
}

#player-cash {
    font-size: 2rem;
    text-align: center;
    line-height: var(--player-action-bar-height);
    float: left;
    width: calc(100%/6);
    color: var(--correct);
}

#player-action {
    float: left;
    width: calc(100% * (5/6));
    height: var(--player-action-bar-height);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

#player-action > * {
    font-size: 2rem;
    flex: 1;
    text-align: center;
    line-height: var(--player-action-bar-height);
}

#dealer {
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    min-width: fit-content;
    width: 50%;
    height: calc(100% / 2);
    margin: auto;
}

#dealer > .card-list {
    height: var(--playing-card-height);
}

/* play area */
#betting-area {
    height: calc(100% / 2);
    overflow-y: auto;
    width: 100%;
}

.betting-box {
    float: left;
    width: calc(100% / 3 - var(--bet-area-gap)*(2/3));
    margin-left: var(--bet-area-gap);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    box-shadow: inset 0 0 0.5rem var(--general-text-color);
    border-radius: 10px;
}

.active-box {
    box-shadow: inset 0 0 2rem var(--correct);
}

.betting-box:first-child {
    margin-left: 0;

    border-bottom-left-radius: 2.5rem; 
}

.betting-box:last-child {
    border-bottom-right-radius: 2.5rem; 
}

.bet {
    visibility: hidden;
    text-align: center;
    line-height: var(--button-height);
}

.bet > * {
    width: var(--button-height);
    height: var(--button-height);
    border-radius: 50%;
    background-color: #0000;
    color: inherit;
    box-shadow: inset 0 0 1rem;
    display: inline-block;
}

.betting-box:hover .allow-bet {
    visibility: visible;
}

.card-list {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.two-faced {
    position: relative;
    display: inline-block;
    width: var(--playing-card-width);
}

.playing-card, .two-faced {
    min-width: calc(var(--playing-card-width) / 6);
    height: var(--playing-card-height);
}

.card-list > .playing-card:last-child {
    min-width: var(--playing-card-width);
}

/* playing-cards populated images */
.card-list img {
    width: var(--playing-card-width)
}

.cards-value, .pot {
    height: 3rem;
    line-height: 3rem;
    font-size: 2rem;
}

#dealer-message, #start-button {
    height: 3rem;
    line-height: 3rem;
    font-size: 2rem;
}

#start-button {
    color:var(--table-background-color);
    background-color: var(--general-text-color);
    padding: 0 1rem;
    border-radius: 3rem;
    transition: background-color .15s, color .15s;
}

#dealer-message {
    transition: transform .3s, color .3s;
}

.cannot-start {
    transform: scale(1.5);
    color: var(--erroneous);
}

#start-button:active {
    background-color: #0000;
    color:var(--general-text-color);
}

.face-down {
    position: absolute;
    display: inline-block;
    border-radius: 4%;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    transition: transform .5s;
}

.face-up {
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: transform .5s;
}

/* flip solution from https://moirahartigan.github.io/Portfolio-2---Alien-Memory-Game/index.html */
/* and that from https://marina-ferreira.github.io/tutorials/js/memory-game/ */

.face-up.flip {
    transform: rotateY(0deg);
}

.face-down.flip {
    transform: rotateY(180deg);
}

@media (orientation: landscape) {
    #game-wrapper:not([data-phase="betting"]) .bet {
        display: none;
    }
}

@media screen and (max-width: 1200px){

    #game-wrapper {
        width: 800px;
        height: 800px;
        max-height: 100vh;
    }

    .playing-card, .card-list>span, #dealer>.card-list {
        min-width: calc(var(--playing-card-width)*(2/3) / 6);
        height: calc(var(--playing-card-height)*(2/3));
    }

    .card-list img {
        width: calc(var(--playing-card-width)*(2/3))
    }
    
    .card-list > .playing-card:last-child {
        min-width: calc(var(--playing-card-width)*(2/3));
    }

    .cards-value, .pot, #dealer-message, #start-button {
        height: 2.5rem;
        line-height: 2.5rem;
        font-size: 1.5rem;
    }

    #player-action > * , #player-cash {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 992px){
    #game-wrapper {
        width: 650px;
        height: 650px;
        max-height: 100vh;
    }

    .playing-card, .card-list>span, #dealer>.card-list {
        min-width: calc(var(--playing-card-width)*(2/3) / 6);
        height: calc(var(--playing-card-height)*(2/3));
    }

    .card-list img {
        width: calc(var(--playing-card-width)*(2/3))
    }
    
    .card-list > .playing-card:last-child {
        min-width: calc(var(--playing-card-width)*(2/3));
    }

    .cards-value, .pot, #dealer-message, #start-button {
        height: 2rem;
        line-height: 2rem;
        font-size: 1.2rem;
    }

    #player-action > *, #player-cash {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px){
    #game-wrapper {
        width: 450px;
        max-width: 100vw;
        height: 600px;
        max-height: 100vh;
    }

    .playing-card, .card-list>span, #dealer>.card-list {
        min-width: calc(var(--playing-card-width)*(2/5) / 6);
        height: calc(var(--playing-card-height)*(2/5));
    }

    .card-list img {
        width: calc(var(--playing-card-width)*(2/5))
    }
    
    .card-list > .playing-card:last-child {
        min-width: calc(var(--playing-card-width)*(2/5));
    }

    .cards-value, .pot, #dealer-message, #start-button {
        height: 1.2rem;
        line-height: 1.2rem;
        font-size: 1rem;
    }

    #player-action > *, #player-cash {
        font-size: 1rem;
    }
}