:root {
    --header-height: 55px;
    --footer-height: 90px;
    --player-action-bar-height: 4rem;
    
    --button-height: 55px;

    --playing-card-width: 80px;
    --playing-card-height: calc(var(--playing-card-width)*(182/131))
}

* {
    margin: 0;
    border: none;
    padding: 0;
    /* box-sizing: border-box; */
}

/* Header style */
header {
    position: fixed;
    width: 100%;
    height: var(--header-height);
}

header > * {
    float: right;
    line-height: var(--header-height);
}

/* Footer style */
footer {
    position: fixed;
    width: 100%;
    height: var(--footer-height);
    bottom: 0;
}

/* Main game */

main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#game-wrapper { 
    width: 100%;
    height: 100%;
    display: grid;
    /* Refactor to have a fixed table area */
    grid-template: 
    "table table" 70%
    "cash  action" 4rem / 20% 80%;
    align-content: center;
}

#table {
    grid-area: table;
    display: grid;
    grid-template-rows: 20% 80%;
    align-items: center;
    justify-content: center;
}

#player-cash {
    grid-area: cash;
    text-align: center;
    line-height: var(--player-action-bar-height);
}

#player-action {
    grid-area: action;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

#player-action > span {
    visibility: hidden;
}

/* playing-box */
#betting-area {
    display: flex;
    width: 100vw;
}

.bet {
    visibility: hidden;
    text-align: center;
}

.bet > div {
    width: var(--button-height);
    height: var(--button-height);
    border-radius: 50%;
    border: 2px solid black;
    display: inline-block;
}

.betting-box:hover .allow-bet {
    visibility: visible;
}

.betting-box:hover {
    background-color: #aaa;
}

.betting-box {
    height: 400px;
    width: 100%;
}

.card-list {
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
}

.playing-card {
    min-width: calc(var(--playing-card-width) / 4);
    height: var(--playing-card-height);
}

/* playing-cards populated images */
.card-list img {
    width: var(--playing-card-width)
}

.card-list>span {
    position: relative;
}

#face-down {
    position: absolute;
    display: inline-block;
    border-radius: 4%;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    transition: transform .5s;
}

#face-up {
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: transform .5s;
}

/* flip solution from https://moirahartigan.github.io/Portfolio-2---Alien-Memory-Game/index.html */
/* and that from https://marina-ferreira.github.io/tutorials/js/memory-game/ */

#face-up.flip {
    transform: rotateY(0deg);
}

#face-down.flip {
    transform: rotateY(180deg);
}
